<h1>仕事一覧</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>仕事タイトル</th>
      <th>カテゴリ</th>
      <th>詳細</th>
      <th>対象</th>
      <th>日時</th>
      <th>雇用形態</th>
      <th>特徴</th>
      <th>ID</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>

      <tr>
        <td><%= job.title %></td>
        <td><%= job.category %></td>
        <td><%= job.description %></td>
        <td><%= job.target %></td>
        <td><%= job.meet_date %></td>
        <td><%= job.type_of_employment %></td>
        <td><%= job.job_feature %></td>
        <td><%= job.id %></td>
        <td><%= link_to '詳細を見る', controller: "jobs", action: "show", id: job.id %></td>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '仕事登録', controller: "jobs", action: "new" %>
