<!DOCTYPE html>
<html>
<head>
	<title>すごい就職ナビ</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#is_sp_hidden_nav">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<%= link_to 'すごい就職ナビ', root_path, class: 'navbar-brand' %>
	</div>
	<% unless controller.class.to_s == 'CompaniesController' %>
		<ul class="nav navbar-nav">
			<li><a href="#">仕事一覧</a></li>
			<li><a href="#">企業一覧</a></li>
		</ul>
		<form class="navbar-form navbar-left">
			<input type="text" class="form-control col-lg-8" placeholder="フリーワード検索">
		</form>
	<% end %>
	<div class="collapse navbar-collapse" id="is_sp_hidden_nav">
		<ul class="nav navbar-nav navbar-right">
			<% if controller.class.to_s == 'CompaniesController'%>
				<% if company_signed_in? %>
					<li><a href="#"><%= current_company.name %></a></li>
					<li><a href="#">メッセージ <span class="badge">3</span></a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">設定 <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><%= link_to 'プロフィール変更', edit_company_registration_path %></li>
							<li class="divider"></li>
							<li><%= link_to "ログアウト", destroy_company_session_path, method: :delete %></li>
						</ul>
					</li>
				<% else %>
					<li><%= link_to "企業サインイン", new_company_registration_path %></li>
					<li><%= link_to "企業ログイン", new_company_session_path %></li>
				<% end %>
			<% else %>
				<% if user_signed_in? %>
					<li><a href="#"><%= image_tag current_user.image_url, :size => '26x26' %> <%= current_user.name %>さん</a></li>
					<li><a href="#">メッセージ <span class="badge">3</span></a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">設定 <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><%= link_to 'プロフィール変更', edit_user_registration_path %></li>
							<li class="divider"></li>
							<li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
						</ul>
					</li>
				<% else %>
					<li><%= link_to "サインイン", new_user_registration_path %></li>
					<li><%= link_to "ログイン", new_user_session_path %></li>
				<% end %>
			<% end %>
		</ul>
	</div>
</header>

<%= controller.class.to_s %>

<div class="container">
	<% if flash[:notice] %>
		<div class="alert alert-dismissable alert-info">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<%= flash[:notice] %>
		</div>
	<% end %>
	<% if flash[:alert] %>
		<div class="alert alert-dismissable alert-warning">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<%= flash[:alert] %>
		</div>
	<% end %>

	<%= yield %>
</div>
<%= debug current_user if current_user %>
<%= debug current_company if current_company %>
</body>
</html>
